:root {
  --navbar-height: 6vh;
}

body {
  background: $gray-transparent !important;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
}

* {
  text-decoration: none !important;
}

p {
  color: $gray-darker;
  font-family: $base-font;
  font-size: 17px;
}
