.box-shadow {
  box-shadow: 1px 1px 8px 1px $gray-lighter;
}

.fit-content {
  min-width: fit-content !important;
}

.pointer {
  cursor: pointer;
}

// Positions
.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}
