/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto:100,400,500|Comfortaa");


$brand-font: "Comfortaa", "Helvetica", "cursive";

$header-font: "Roboto", "Helvetica", "sans-serif";
$base-font: "Open Sans", "Helvetica", "sans-serif";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
// $brand-color-blue: #0A4650;
// $brand-color-green-dark: #2C9E4B;
// $brand-color-green-light: #9ED763;
// $brand-color-yellow-dark: #FDDA16;
// $brand-color-yellow-light: #FFF2B2;

// Scheme
$brand-grey: #757761; // rgba(117, 119, 97, 1)
$brand-yellow-dark: #F4E76E; // rgba(244, 231, 110, 1)
$brand-yellow-light: #F7FE72; // rgba(247, 254, 114, 1)
$brand-green: #8FF7A7; // rgba(143, 247, 167, 1)
$brand-green-dark: #2C9E4B;
$brand-blue: #51BBFE; // rgba(81, 187, 254, 1)

// Bootsrap
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee


// Height
// :root {
//   --navbar-height: 6px;
// }
