// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Comfortaa:300,400,700");

// Font-family
$header-font: "Comfortaa", "Helvetica", "cursive";
$base-font: "Open Sans", "Helvetica", "sans-serif";

// Font-size
$base-size: 16px;
$base-height: 1.5;

// Brand Colors
$yellow: rgba(255, 242, 117, 1);
$blue: rgba(106, 127, 219, 1);
$green: rgba(99, 226, 99, 1);
$orange: rgba(255, 140, 66, 1);

// Gray scale
$gray-darker:  rgba(20, 20, 20, 0.9); // #222
$gray-dark:    rgba(20, 20, 20, 0.7);   // #333
$gray:         rgba(20, 20, 20, 0.5); // #555
$gray-light:   rgba(20, 20, 20, 0.3); // #777
$gray-lighter: rgba(20, 20, 20, 0.1); // #eee

// Background color
$gray-transparent: rgba(20, 20, 20, 0.001);

// Bootsrap
$bootstrap-red: #EE5F5B;
$bootstrap-blue: #469AE0;
$bootstrap-yellow: #FDB631;
$bootstrap-orange: #E67E22;
$bootstrap-green: #32B796;
