// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Comfortaa:300,400,700");

// Font-family
$header-font: "Comfortaa", "Helvetica", "cursive";
$base-font: "Open Sans", "Helvetica", "sans-serif";

// Font-size
$base-size: 16px;
$base-height: 1.5;

// Brand Colors
$yellow: rgba(255, 242, 117, 0);
$blue: rgba(106, 127, 219, 0);
$green: rgba(99, 226, 99, 1);
$orange: rgba(255, 140, 66, 1);

// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

// Bootsrap
$bootstrap-red: #EE5F5B;
$bootstrap-blue: #469AE0;
$bootstrap-yellow: #FDB631;
$bootstrap-orange: #E67E22;
$bootstrap-green: #32B796;
