// LANDING PAGE
#headline {
  font-family: $header-font;
  font-size: 45px;
  font-weight: 600;
  color: $gray-darker;
}

#caption {
  color: $gray;
  font-family: $header-font;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 50px;
}


.scroll-down-container {
  color: $gray;
  margin-bottom: 10px;
  bottom: 0;
  right: 0;
  left: 0;
}


// TYPED JS
.typed-js-container {
  height: 50%;
  width: 100%;
}

.typed-js-container p {
  font-family: $header-font;
  color: $gray-dark;
  font-weight: 400;
  font-size: 24px;
}

.typed-js-container .city, .typed-js-container .name {
  color: white;
}


// WHERE ARE YOU FORM
.form-container-home {
  width: 100%;
  text-align: center;
}

.inputs-container-home {
  width: 50%;
  margin: 0 auto;
}

@media (min-width : $breakpoint-phone) {
  .inputs-container-home {
    width: 100%;
  }
}

@media (min-width : $breakpoint-phablet) {
  .inputs-container-home {
    width: 90%;
  }
}

@media (min-width : $breakpoint-tablet) {
  .inputs-container-home {
    width: 70%;
  }
}

@media (min-width : $breakpoint-desktop) {
  .inputs-container-home {
    width: 60%;
  }
}

.form-group.location_location {
  margin: 0;
}

// search input container
div.form-group.location_location {
  width: 98%;
  margin-right: 4px;
}

// search input
input#location_location {
  border-radius: 40px 0 0 40px;
  border: 1px solid white;
  padding: 0 25px;
  height: 60px;
  font-size: 16px;
  box-shadow: none;
  font-weight: 300;
  &:focus {
    border: 2px solid white;
  }
}

// submit button
.inputs-container-home > input[name="commit"] {
  height: 60px;
  border: 3px solid white;
  background: white;
  width: 25%;
  border-radius: 0 40px 40px 0;
  color: $green;
  font-size: 16px;
  font-weight: bold;
  box-shadow: none;
  transition: all 0.1s ease;
  &:hover {
    background: transparent;
    border: 3px solid white;
    color: white;
  }
}


