// VIEW 1 //////////////////////////////////////////////////////////////////////
.landing-banner {
  height: 99vh;
  background-size: cover !important;
  background-position: center;
}

.brand-container {
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#brand-home {
  font-family: $brand-font;
  font-size: 40px;
  padding: 20px;
}

#tagline {
  color: white;
  font-family: $header-font;
  font-size: 35px;
  font-weight: 300;
}

.cta-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cta{
  padding: 14px 28px;
  background: $gray-darker;
  font-weight: 600;
  border-radius: 30px;
  border: 3px solid transparent;
  color: $brand-green;
  cursor: pointer;
  animation: levitate;
  animation-duration: 3s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  transition: all 0.1s ease-in-out;
  &:hover {
    background: transparent;
    color: $gray-darker;
    border: 3px solid $gray-darker;
  }
}

@keyframes levitate {
  0% {transform: translateY(0px)}
  5% {transform: translateY(-5px)}
  10% {transform: translateY(0px)}
  15% {transform: translateY(-5px)}
  20% {transform: translateY(0px)}
  100% {transform: translateY(0px)}
}

.scroll-down-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 20px;
}

// VIEW 2 ///////////////////////////////////////////////////////////////////////
.form-banner {
  height: 90vh;
  width: 100%;
  text-align: center;
}

.typed-js-container {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group.location_location {
  margin: 0;
}

// search input
input#location_location {
  border-radius: 40px 0 0 40px;
  padding: 0 25px;
  height: 50px;
  width: 350px;
  box-shadow: none;
  font-weight: 300;
  margin-right: 5px;
}

// submit button
.form-container-home > input[name="commit"] {
  height: 50px;
  border-radius: 0 40px 40px 0;
  padding: 0 25px;
  background: red;
  color: white;
  font-weight: 300;
  box-shadow: none;
  border: none;
  &:hover {
    background: black;
  }
}

// VIEW 3 ONWARDS //////////////////////////////////////////////////////////////////////
.home-banner {
  height: 95vh;
  width: 100%;
}

.background-image {
  height: inherit;
  background-size: cover !important;
  background-position: center;
}

.home-text-container {
  width: 100%;
  height: inherit;
  padding: 50px;
}

.home-title {
  font-family: $brand-font;
  font-size: 30px;
  margin-bottom: 30px;
  color: $brand-green;
}

.home-subtitle {
  font-family: $base-font;
  font-weight: 600;
  margin-top: 15px;
  font-size: 15px;
}

.home-content {
  padding: 5px 0;
}

.custom-hr {
  height: 1vh;
  background: linear-gradient(to right, $brand-green, $brand-yellow-dark);
}

.box-shadow {
  box-shadow: 1px 1px 20px 2px rgba(0, 0, 0, 0.2);
}

// TYPED JS ////////////////////////////////////////////////////////////////////
.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
