.landing-banner {
  height: 98vh;
  background-size: cover !important;
  background-position: center;
}

.tagline-container {
  width: 100%;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#tagline {
  color: white;
  font-family: $header-font;
  font-size: 35px;
  font-weight: 200;
}

.scroll-down-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

