.result-container {
  margin: 100px 0px 50px 0px;
}

.result {
  font-size: 24px;
  font-weight: 400;
  font-family: $header-font;
  color: $gray-dark;
  line-height: 1.8;
}

.count {
  color: $green;
}
