<h3><%= nomad.full_name %></h3>
<p><%= mail_to nomad.email %></p>
<p><%= nomad.phone %></p>
<p>
  <% if nomad.facebook.empty? == false %>
    <%= link_to nomad.facebook, target: '_blank' do %>
      <i class="fa fa-facebook-official fa-2x"></i>
    <% end %>
  <% end %>
</p>
