<div class="navbar-placeholder"></div>

<div id="map" style="width: 100%; height: 94vh;"></div>

<div class="nomad-count">
  <h2> <%= t('nomads.index.total_nomads', count: @count) %> </h2>
</div>

<!-- MAPS SCRIPT -->
<% content_for(:after_js) do %>

  <script>
    // Variables ///////////////////////////////////////////////////////////////
    const nomads = <%= raw @nomads %>;
    const current_nomad = <%= raw @current_nomad %>
    const mapContainer = document.querySelector('#map');

    let isDraggable = $(document).width() > 480 ? 'auto' : 'cooperative';
    let infowindow = new google.maps.InfoWindow();
    let lastClicked = infowindow;


    // Map Options
    const mapOptions = {
      zoom: 3,
      center: new google.maps.LatLng(current_nomad.latitude, current_nomad.longitude),
      styles: <%= render 'map_style.js' %>,
      scrollwheel: false,
      gestureHandling: isDraggable
    };

    const clusterOptions = {
      // gridSize: 30,
      // maxZoom: 20,
    };

    // Functions ///////////////////////////////////////////////////////////////
    function createMarkersFor(nomad, map_object) {
      return new google.maps.Marker({
        position: {lat: nomad.latitude, lng: nomad.longitude},
        map: map_object,
        id: nomad.id,
        icon: nomad.icon
      });
      console.log(nomad.id)
    };

    function centerMap(LatLng) {
      // var mapCenter = map.getCenter().toJSON();
      // var markerPosition = LatLng.toJSON();
      // var a = Math.round(Math.abs(mapCenter.lng - markerPosition.lng));
      // var b = Math.round(Math.abs(mapCenter.lat - markerPosition.lat));
      map.setCenter(LatLng);
    };

    function getMarkerPosition(nomad) {
      var position = nomad.getPosition();
      window.setTimeout( function() { centerMap(position) }, 200);
    };

    function linkIW(object) {
      if (object.id !== current_nomad.id) {
        lastClicked.close();
        var i = object.id;
        lastClicked = infowindow[i];
        lastClicked.open(map, object);
      };
    };

    // Use the renderer and create a partial.
    function createIW(nomad) {
      if (nomad.id !== current_nomad.id) {
        var i = nomad.id;
        infowindow[i] = new google.maps.InfoWindow({
          content:
          `<div class="iw">` +
            `<img src="${nomad.photo}" alt="${nomad.first_name}">` +
            `<h3 class="iw-name "> ${nomad.first_name} </h3>` +
            `<a href="mailto:${nomad.link}"> Email ${nomad.first_name} </a>` +
          `</div>`
        });
      };
    };


    function init() {
      const map = new google.maps.Map(mapContainer, mapOptions);
      const nomadMarkers = nomads.map(nomad => createMarkersFor(nomad, map));
      // const markerClusterer = new MarkerClusterer(map, nomadMarkers, clusterOptions);



      // Creating infowindows
      // nomads.forEach(nomad => createIW(nomad));
      // nomads.forEach(nomad => linkIW(nomad));

      // event listener on markers
      // nomadMarkers.forEach(marker => marker.addListener( 'click', getMarkerPosition));
      // nomadMarkers.forEach(marker => marker.addListener('click', createInfoWindow));
    };


    // Event Listeners //////////////////////////////////////////////////////////
    document.addEventListener('DOMContentLoaded', init);
  </script>

<% end %>

<!-- https://chrome.google.com/webstore/detail/french-digital-nomads-map/aaokjnbicmobnkgjnmbmffbnldebhgfa -->
