<% if notice %>
  <div class="flashes flash-notice">
    <%= notice %>
    <i class="fa fa-times-circle delete" aria-hidden="true"></i>
  </div>
<% end %>

<% if alert %>
  <div class="flashes flash-alert">
    <%= alert %>
    <i class="fa fa-times-circle delete" aria-hidden="true"></i>
  </div>
<% end %>

<script>
  // 1.
  const closeButton = document.querySelector('i.delete');

  // 2.
  function deleteFlash() {
    this.parentNode.remove();
  };

  // 3.
  closeButton.addEventListener('click', deleteFlash)
</script>
