<% if notice %>
  <div class="flashes flash-notice">
    <%= notice %>
    <i class="fa fa-times-circle delete" aria-hidden="true"></i>
  </div>
<% end %>

<% if alert %>
  <div class="flashes flash-alert">
    <%= alert %>
    <i class="fa fa-times-circle delete" aria-hidden="true"></i>
  </div>
<% end %>
