<div class="myfooter">
  <h2 id="footer-brand"> <%= t('footer.brand') %> </h2>
  <a href="mailto:hello@nomadmap.co?subject=&#x1F44B Nomadmap" class="footer-contact"><%= t('footer.contact') %></a>
</div>
