<div class="myfooter">
  <h2 id="footer-brand"> <%= t('footer.brand') %> </h2>
  <a href="mailto:charly.martin.1207@gmail.com?subject=I &#x1F60D Nomadmap" class="footer-contact"><%= t('footer.contact') %></a>
</div>
