<h3> <%= t('forms.location') %> </h3>
<%= f.input :latitude, as: :hidden, input_html: { value: session[:lat] || current_nomad.latitude }  %>
<%= f.input :longitude, as: :hidden, input_html: { value: session[:lng] || current_nomad.longitude } %>
<div id="map" style="width: 100%; height: 45vh;"></div>
<br>
<div class="form-button-container">
  <p class="secondary-button" id="update-map"> <%= t('forms.refine') %> </p>
</div>

<!-- input_html: {value: session[:coords]['latitude']} -->
