<div class="navbar navbar-fixed">
  <div class="navbar-container" id="brand">
    <h1>Digital Nomal Map</h1>
  </div>
  <div class="navbar-container">B</div>
  <div class="navbar-container">C</div>
</div>
