<div class="navbar navbar-fixed">
  <div class="navbar-container">B</div>

  <div class="navbar-container" id="brand">
    <h1> <%= link_to 'NOMAP MAP', root_path %> </h1>
  </div>

  <div class="navbar-container">C</div>
</div>
