<div class="navbar-placeholder"></div>

<div class="page-title-container">
  <h2 class="home-title"> <%= t('pages.home.what_is_nomad') %> </h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-12">
      <div class="page-content-container">
        <p> <%= t('pages.home.what_is_nomad_text_html') %> </p>
      </div>
    </div>
  </div>
</div>

<a href="/#scroll-down-stop">
  <div class="back-to-sign-up">
    <p> <%= t('navbar.sign-up') %> </p>
  </div>
</a>
