<div class="title-banner">
  <h2><%= t('pages.about.title') %></h2>
</div>

<div class="container-resp">
  <br>
  <p> <%= t('pages.about.content_html') %> </p>
  <br>
</div>

<div class="about-button-container flex vertical-centered">
  <a href="/#sign-up">
    <span class="primary-button"> <%= t('navbar.sign-up') %> </span>
  </a>
</div>
