<div class="title-banner text-centered">
  <h2><%= t('pages.auto_update.title') %></h2>
</div>

<div class="container-resp">
  <h3>1. Download our chrome extension</h3>
  <p>link to the ext</p>

  <h3>2. Fill our your username and api key</h3>
  <p>Your username</p>
  <p> <%= current_nomad.username %> </p>
  <br>
  <p>Your unique API key</p>
  <p> <%= current_nomad.authentication_token %> </p>

  <h3>3. Enjoy life</h3>
  <p>As you move around, you're position will be updated on the map</p>
</div>
