<br>
<br>
<br>
<br>
<br>


<div class="home-text-container">
  <h2 class="home-title"> <%= t('pages.home.what_is_nomad') %> </h2>
  <p class="home-content"> <%= t('pages.home.what_is_nomad_text_html') %> </p>
</div>
