<div class="navbar-placeholder"></div>

<div class="page-title-container">
  <h2 class="home-title"> <%= t('pages.home.what_is_nomad') %> </h2>
</div>

<div class="page-content-container">
  <p> <%= t('pages.home.what_is_nomad_text_html') %> </p>
</div>

<a href="/#scroll-down-stop">
  <div class="back-to-sign-up">
    <p> <%= t('navbar.sign-up') %> </p>
  </div>
</a>
