<div class="navbar-placeholder"></div>

<div class="page-container">

  <p> <%= t('pages.nomads_around.nomad_number', count: @nomads_around.count) %> </p>

  <%= link_to t('pages.nomads_around.sign_up_email'), new_nomad_registration_path, class: "email-login slideUp" %>

  <%= link_to nomad_facebook_omniauth_authorize_path, class: "facebook-login slideDown" do %>
    <i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i>
    <span> Continue with Facebook </span>
  <% end %>

</div>
