/* Main class */
.mynavbar {
  // box-shadow: 0 2px $brand-grey;
  background: rgba(255, 255, 255, 0.95);
  height: 6vh;
  margin-bottom: 0;
  padding: 0 20px 0 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}

.mynavbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
}

#brand-nabar {
  color: $brand-green;
  // text-shadow: 1px 1px rgba(143, 247, 167, 1);
  font-family: $brand-font;
  font-size: 20px;
  // letter-spacing: 1px;
  transition: all 0.3 ease;
  // &:hover {
  //   transform: translateY(-1px);
  //   text-decoration: none;
  // }
}

#brand-container {
  position: absolute;
  left: 20px;
  height: inherit;
}

#avatar-home {
  height: 40px;
  width: 40px;
}

#avatar-container {
  position: absolute;
  right: 20px;
  height: inherit;
}

.slide-menu {
  color: transparent;
  transition: all 0.5s ease;
  a {
    color: transparent;
  }
}

.active {
  transform: translateY(200%);
  a {
    color: white;
  }
}

.mynavbar > *::before, .navbar > *::after { display: none !important; }
