/* Main class */
.navbar {
  box-shadow: 0 2px $brand-grey;
  background: $gray-darker;
  height: 5vh;
  display: flex;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
}

.navbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
  width: 30%;
}

.left {
  justify-content: flex-start;
}

.center {
  justify-content: center;
}

.right {
  justify-content: flex-end;
}

#brand {
  color: $brand-green;
  // text-shadow: 1px 1px rgba(143, 247, 167, 1);
  font-family: $brand-font;
  font-size: 22px;
  letter-spacing: 1px;
  transition: all 0.3 ease;
  // &:hover {
  //   transform: translateY(-1px);
  //   text-decoration: none;
  // }
}

#logo {
  height: 40px;
}

#avatar {
  height: 40px;
}
