/* Main class */
.mynavbar {
  background: rgba(255, 255, 255, 0.95);
  height: 6vh;
  margin-bottom: 0;
  padding: 0 20px 0 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
}

.mynavbar-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.mynavbar-links {
  color: $gray-darker;
  font-family: $brand-font;
  font-size: 14px;
  margin: 0 5px;
  transition: color 100ms ease;
  &:hover {
    color: $brand-green;
  }
}

#brand-nabar {
  color: $brand-green;
  font-family: $brand-font;
  font-size: 20px;
  transition: color 100ms ease;
  &:hover {
    text-decoration: none;
    color: $gray-darker;
  }
}

#brand-container {
  position: absolute;
  left: 20px;
  height: inherit;
}

#avatar-home {
  height: 40px;
  width: 40px;
}

#avatar-container {
  position: absolute;
  right: 20px;
  height: inherit;
}

.slide-menu {
  color: transparent;
  transition: all 0.5s ease;
  a {
    color: transparent;
  }
}

.active {
  transform: translateY(200%);
  a {
    color: white;
  }
}

.mynavbar > *::before, .navbar > *::after { display: none !important; }
