/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Universals
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: inherit;
}

* {
  text-decoration: none !important;
}

body {
  background: rgba(0, 0, 0, 0.01);
}

// Misc
.pointer {
  cursor: pointer;
}

.navbar-placeholder {
  height: 50px;
  width: 100%;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.padded-top {
  margin-top: 2em;
}

.no-padding {
  padding: 0 !important;
}
