.flashes {
  width: 100%;
  z-index: 2;
  color: white;
  position: fixed;
  top: var(--navbar-height);
  text-align: center;
  padding: 3px 20px;
  font-size: 16px;
}

.flashes .delete {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.flash-notice {
  background: $green;
}

.flash-alert {
  background: $blue;
}
