// Your footer style
.myfooter {
  min-height: 40vh;
  background: $gray-darker;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#footer-brand {
  font-family: $header-font;
  font-size: 25px;
  color: white;
  margin: 10px;
}
