.banner-home {
  height: 94vh;
  width: 100%;
  padding: 0 40px;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
