.background-form {
  width: 100%;
  padding: 40px 0;
}

.background-form h2 {
  text-align: center;
  color: white;
  font-family: $header-font;
  font-weight: 100;
  font-size: 30px;
  margin: 20px 0;
}

.form-inputs > h3 {
  font-family: $header-font;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.form-inputs input {
  border: none;
  font-weight: 300;
  box-shadow: 1px 1px 5px $gray-light;
}

.form-info {
  font-style: italic;
  font-size: 14px;
  color: white;
  background: rgba(10, 10, 10, 0.05);
  display: block;
  margin-bottom: 10px;
}

.devise-submit-btn {
  border: 3px solid $gray-darker;
  background: transparent;
  width: 100%;
  color: $gray-darker;
  border-radius: 50px;
  transition: all 200ms ease;
  &:hover {
    background: $gray-darker;
    color: $brand-green;
    border: 3px solid $gray-darker;
  }
}

.form-links {
  width: 100%;
  text-align: center;
  padding: 30px;
  > a {
    font-weight: 300;
    font-size: 15px;
    color: white;
    display: inline-block;
    margin: 8px;
    &:hover {
      color: $gray-darker;
    }
  }
}
