.form-title {
  font-family: $base-font;
  font-weight: 600;
  font-size: 30px;
  margin: 40px 0;
  letter-spacing: -1.2px;
}

.form-inputs h3 {
  font-family: $header-font;
  font-size: 20px;
  margin: 20px 0;
}

.form-inputs input {
  font-weight: 300;
  font-size: 16px;
  color: $gray-darker;
}

input[type="checkbox"] {
  box-shadow: none;
}

.form-button-container {
  width: 100%;
  text-align: center;
  padding: 30px
}

.form-links-container {
  width: 100%;
  text-align: center;
  padding: 10px
}

.form-links-container a {
  color: $gray
}

.form-control:focus {
  border-color: $gray;
  box-shadow: none;
}
