.form-container {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0;
}

.form-container h2 {
  text-align: center;
  font-family: $header-font;
  font-weight: 100;
  font-size: 35px;
  margin: 50px 0;
}

.form-inputs > h3 {
  font-family: $header-font;
  font-size: 20px;
  margin: 30px 0;
}

.form-inputs input {
  font-weight: 300;
}

input[type="checkbox"] {
  box-shadow: none;
}

.form-button {
  width: 100%;
  text-align: center;
}

.form-control:focus {
  border-color: $green;
  box-shadow: none;
}

.form-links {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-links a {
  font-family: $header-font;
  color: $blue;
  padding: 4px;
  margin: 5px;
  font-size: 15px;
}

.flashes {
  width: 100%;
  z-index: 2;
  color: white;
  position: fixed;
  top: var(--navbar-height);
  text-align: center;
  padding: 3px 20px;
}

.flashes .delete {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.flash-notice {
  background: $green;
}

.flash-alert {
  background: $blue;
}
