.nomad-count {
  width: 100%;
  background: $green;
  color: white;
  font-family: $header-font;
  font-size: 14px;
  text-align: center;
  padding: 6px 0;
}

.iw {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 22px;
  padding: 10px 0;
}

.iw > .iw-name {
  font-size: 22px;
  margin: 15px 0;
  color: $green;
}

.iw > a {
  font-size: 15px;
  font-weight: 400;
  color: white;
  padding: 10px;
  border-radius: 4px;
  background: $gray-light;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: $green;
  }
}

.iw > img {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}
