body {
  background: rgba(99, 226, 99, 0.01);
}

a {
  text-decoration: none !important;
}

.modal-content-container {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box-shadow {
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
}

.primary-button {
  padding: 10px 25px;
  font-family: $header-font;
  font-size: 20px;
  font-weight: 700;
  background: transparent;
  margin: 10px;
  color: $green;
  border: 3.5px solid $green;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background: $green;
    color: white;
    border: 3.5px solid $green;
  }
}

.secondary-button {
  font-family: $header-font;
  padding: 10px 15px;
  font-size: 15px;
  color: $blue;
  display: inline;
  border: 1px solid $blue;
  border-radius: 50px;
  cursor: pointer;
  &:hover {
    background: $blue;
    color: white;
    border: 1px solid $blue;
  }
}
